* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
body{
  background-image: url("https://images.unsplash.com/photo-1616410731303-6affae095a0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjQyfHxiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60");
}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  display: none;
  position: absolute;
  right: 40px;
  top: 100px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
  max-width: 400px;
  max-height: 400px;

}

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;

  }
  .heading-text{
    display: none;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}


.banner {
  /* background-image: url("/src/assets/images/gymWoman2.jpg"); */
  background-image: url("/src/assets/images/banner11.jpg");
  /* background-image: url("https://img.freepik.com/free-photo/portrait-young-spotive-girl-doing-exercises-with-rope-keeping-body-fit-isolated-green-background-neon_155003-45635.jpg?size=626&ext=jpg"); */
  height: 80vh;
  /* background-position: center; */
  background-size: cover;
  margin-top: -72px;
  margin-bottom: -100px;

  border-radius: 0px 0px 10px 60px;


}


.container {
  --max-width: 1050px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) *2);
  margin-inline: auto;

  background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIzfHxiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  
    .banner {
      height: 50vh;
      margin-top: 70px;
      margin-bottom: 0px;
  
    }
  
    
  }

  @media screen and (max-width:800px){
    .banner {
      height:70vh;
      margin-top: -110px;
      margin-bottom: 0px;
      background-position: absolute;
    }
   
  }