* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  --primary-color: #a09000;
  --secondary-color: #a09000;

}


body {
  /* background-image: url("https://images.unsplash.com/photo-1616410731303-6affae095a0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjQyfHxiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60"); */
  background-color: #fefae0;
}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1.6, 1.3);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 160px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(2.3, 2.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 600px;
  height: 600px;
}

.exercise-card {
  width: 260px;
  height: 260px;
  background: #fff;
  border-top: 4px solid var(--primary-color);
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 120px;
  padding-bottom: 50px;
  transform: scale(1, 1);
  transition: 0.2s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(0.9, 0.9);
  transition: 0.3s all ease-in-out;
  border-top: 2px solid var(--primary-color);
  background: #fff;
  width: 170px;
  height: 222px;
  cursor: pointer;
  gap: 22px;
}

.bodyPart-card.active {
  border: solid 2px #a09000;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.bodyPart-card:not(.active) {
  border-bottom-left-radius: 20px;
}

.bodyPart-image {
  width: 100px;
  height: 100px;
}

@media(0 <=width <=400px) {
  .bodyPart-card {
    transform: scale(1, 1);
    width: 80px;
    height: 162px;
    gap: 3px;
  }

  .bodyPart-image {
    width: 45px;
    height: 50px;
  }

}

@media(400px <=width <=800px) {
  .bodyPart-card {
    width: 120px;
    height: 162px;
    gap: 3px;

  }

  .bodyPart-image {
    width: 65px;
    height: 85px;
  }

}

.bodyPart-text {
  text-transform: capitalize;
}

.search-filed-container {
  border: solid 2px rgb(255, 0, 0);
}

.horizontal-menu-container {
  border: solid 2px black;
  display: grid;
  grid-auto-columns: 100%;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.09, 1.09);
}

.search-btn:hover {
  color: var(--primary-color);
  border: 3px solid var(--primary-color) !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;

  }

  .heading-text {
    display: none;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }



  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}


.banner {
  background-image: url("/src/assets/images/banner11.jpg");
  height: 80vh;
  background-size: cover;
  margin-top: -72px;
  margin-bottom: -100px;
  border-radius: 0px;
}


.container {
  --max-width: 1050px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) *2);
  margin-inline: auto;

  background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIzfHxiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60");
  border-radius: 10px;
}

.footer {
  background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIzfHxiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60");
  border-radius: 10px;
}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }

  .banner {
    height: 50vh;
    margin-top: 70px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width:800px) {
  .banner {
    height: 70vh;
    margin-top: -110px;
    margin-bottom: 0px;
    background-position: absolute;
  }

  .footer {
    display: none;
  }

}

/* body map section */
/* Base styles (applies to all sizes) */

.body-map-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 220px;
}

.muscle-table {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-collapse: collapse;
}

.muscle-table td,
.muscle-table th {
  border: 1px solid #fff;
  padding: 3px;
}

.muscle-table th {
  background-color: #000000d1;
  color: white;
}

.muscle-table button {
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.6s;
}

.muscle-table button:hover {
  background-color: #e8de26;
}

.muscle-table button.selected {
  background-color: #41b317;
  color: black;
}

.muscle-table button.clear-all-btn {
  color: var(--primary-color);
}

.muscle-table button.clear-all-btn:hover {
  background-color: #e8de26;
}

/* Pixel (px) = (Viewport height unit (vh) * Viewport height) / 100 */

/* mobile */
@media (max-width: 500px) {

  .body-map-container {
    padding-top: 24vh;
  }

  .body-map-container img {
    max-width: 100vh;
    max-height: 100vh;
  }

  .muscle-table button {
    font-size: 60%;
    width: 19vh;
    height: 5.4vh;
  }

  .muscle-select {
    width: 25%;
    padding: 12px 21px;
    margin-bottom: 50px;
    border: 3px solid #000000;
    border-radius: 18px;
    font-size: 32px;
  }
}

/* tablet */
@media (500px < width <=800px) {
  /* @media (min-width: 501px) and (max-width: 800px) { */

  .body-map-container {
    padding-top: 44vh;
  }

  .body-map-container img {
    width: auto;
    max-width: 93vh;
    max-height: 99vh;
  }

  .muscle-table td,
  .muscle-table th {
    white-space: nowrap;
  }

  .muscle-table button {
    font-size: 80%;
    width: 24vh;
    height: 5.4vh;
  }
}

/* desktop */
@media (min-width: 801px) {

  .body-map-container {
    flex-direction: row;
  }

  .body-map-container img {
    --max-width: 680px;
    --padding: 1rem;
    max-width: min(var(--max-width), 100% - var(--padding) *2);
    margin-inline: auto;
  }

  .muscle-table button {
    font-size: large;
    font-weight: bold;
    width: 99px;
    min-width: min-content;
    min-height: 6vh;
    margin: auto;
    padding: auto;
  }
}



/* hero banner */
.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 10px;
  width: 700px;
  height: 900px;
  margin-top: 340px;
  max-width: 350px;
  max-height: 420px;
  opacity: 0.89;
  border-radius: 12px 12px 12px 12px;
}

@media (width < 1000px) {
  .hero-banner-img {
    display: none;
  }
}

/* HeroBanner.css */
.hero-banner-box {
  margin-top: 70px;
  margin-left: 0;
}

@media (width >=600px) {
  .hero-banner-box {
    margin-left: 50px;
  }
}

.hero-banner-typo {
  font-size: 19px;
}

.hero-banner-typo-footer {
  display: none;
}

@media (width > 1000px) {
  .hero-banner-typo-footer {
    display: block;
    opacity: 0.2;
  }
}