* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  z-index: 0;

  --primary-color: #fc4c4c;
  --secondary-color: #FF6B6B;
  --tertiary-color: #FFD6D6;
  --background-color-main: #ecdcdc;

  --black-color: black;
  --error-color: red;
  --white-color: white;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: var(--background-color-main);
  max-width: min-content;
  margin-inline: auto;
}

/* --------------------------------------- */

/* -----Horizontal Scrollbar */

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1.6, 1.3);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 160px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(2.3, 2.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 600px;
  height: 600px;
}

.detail-btn {
  position: fixed;
  z-index: 10;
  top: 9%;
  max-height: 6vh;
  padding: 12px;
  font-size: 22px;
  background-color: var(--primary-color);
  border-radius: 12px;
  cursor: pointer;
}

.detail-btn:hover {
  transform: scale(1.09, 1.09);
  text-decoration: dashed;
}


.exercise-card {
  width: 260px;
  height: 260px;
  background: #fff;
  border-top: 2px solid var(--primary-color);
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 120px;
  padding-bottom: 50px;
  transform: scale(1, 1);
  transition: 0.2s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(0.9, 0.9);
  transition: 0.3s all ease-in-out;
  border-top: 2px solid var(--primary-color);
  background: var(--white-color);
  width: 170px;
  height: 222px;
  cursor: pointer;
  gap: 22px;
}

.bodyPart-card.active {
  border: solid 2px var(--primary-color);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  transform: scale(0.85, 0.85);
}

.bodyPart-card:not(.active) {
  border-bottom-left-radius: 20px;
}

.bodyPart-image {
  width: 100px;
  height: 100px;
}

@media(0 <=width <=400px) {
  .bodyPart-card {
    transform: scale(1, 1);
    width: 80px;
    height: 162px;
    gap: 3px;
  }

  .bodyPart-image {
    width: 45px;
    height: 50px;
  }

}

@media(400px <=width <=800px) {
  .bodyPart-card {
    width: 120px;
    height: 162px;
    gap: 3px;

  }

  .bodyPart-image {
    width: 65px;
    height: 85px;
  }

}

.bodyPart-text {
  text-transform: capitalize;
}


.horizontal-menu-container {
  display: grid;
  grid-auto-columns: 100%;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.09, 1.09);
}

.search-btn:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transform: scale(1.03, 1.03);

}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;

  }

  .heading-text {
    display: none;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

/* --------------------------------------- */


/* Main Page - Container */

.container {
  --max-width: 1050px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) *2);
  margin-inline: auto;

  background-image: url("/src/assets/images/backgroundWhite.avif");
  border-radius: 10px;
}

.footer {
  background-image: url("/src/assets/images/backgroundWhite.avif");
  border-radius: 10px;
}


@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

@media screen and (max-width:800px) {
  .footer {
    display: none;
  }
}

/* --------------------------------------- */



/* --------- body map section ---------- */

.gap {
  padding-top: 120px;
  /* border: solid 2px rgb(0, 0, 0); */
}

/* Base styles (applies to all sizes) */
.body-map-container {
  padding: 10px 10px 10px 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 95vh;
  height: 100%;

  /* border: solid 2px red; */
}

.body-map-image {
  max-height: 90vh;

  --max-width: 80px;
  --padding: 1rem;
  width: max(var(--max-width), 100% - var(--padding) *2);
  margin-inline: auto;

  /* border: solid 2px rgb(13, 0, 255); */
}


/* Muscle Table */
.muscle-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 2px rgb(255, 8, 0); */
}

.muscle-table {
  display: block;
  width: auto;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
  text-align: center;

  /* border: solid 2px rgb(26, 255, 0); */
}


.muscle-table th {
  color: var(--black-color);
  border: 2px solid var(--black-color);
  font-size: 1.3rem;
  white-space: nowrap;
}

.muscle-table button {
  width: 100%;
  min-height: 5vh;
  padding: 0px 15px 0px 25px;
  max-height: 1vh;

  background: none;
  border: none;

  font-weight: bold;
  font-size: 1.07rem;
  cursor: pointer;
}

.muscle-table button:hover {
  /* background-color: var(--tertiary-color); */
  outline: var(--black-color) solid 2px;
}

.muscle-table button.selected {
  background-color: var(--secondary-color);
  border: solid 1px var(--black-color);
  border-radius: 28px;
  transition: background-color 1.6s, border-radius 1.6s;
}

.muscle-table button.clear-all-btn {
  color: var(--error-color);
}

.muscle-table button.clear-all-btn:hover {
  color: var(--white-color);
  background-color: var(--error-color);
}


/* tablet */
@media (550px < width <=800px) {

  .body-map-container {
    height: 170vh;
    max-width: 527px;
    gap: 22px;
  }

  .body-map-container img {
    max-height: max-content;
    margin-inline: auto;
    align-items: center;

    z-index: 2;
  }

  .body-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



/* mobile */
@media (0px <=width <=550px) {

  .body-map-container {
    height: 170vh;
  }

  .body-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .muscle-table {
    width: 280px;
    margin-inline: auto;

  }

  .body-map-image {
    --max-width: 300px;
    --padding: 1rem;
    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;

    max-height: 43vh;
  }

  .muscle-table button {
    font-size: 66%;
    height: 5.4vh;
    --max-width: 80px;
    --padding: 0.4rem;
    width: min(var(--max-width), 100% - var(--padding) * 2);
  }

  .muscle-table th {
    color: var(--black-color);
    border: 2px solid black;
    font-size: 66%;
  }


}



/* --------------------------------------------------------- */


/* hero banner */

.logo-container {
  padding: 4%;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (0px <=width <=500px) {

  .logo-container,
  .stack-button,
  .hero-banner-box {
    display: none;
  }
}


.hero-buttons:hover {
  outline: var(--error-color) solid 2px;
  transform: scale(1.03, 1.03);
}


.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 10px;
  width: 700px;
  height: 900px;
  width: 700px;
  height: 900px;
  margin-top: 340px;
  max-width: 350px;
  max-height: 420px;
  opacity: 0.69;
  border-radius: 12px 12px 12px 12px;
}

@media (width < 1000px) {
  .hero-banner-img {
    display: none;
  }
}

.hero-banner-box {
  margin-top: 2px;
}

@media (width >=600px) {
  .hero-banner-box {
    margin-left: 50px;
  }
}


.hero-banner-typo {
  font-size: 19px;
}

.hero-banner-typo-footer {
  display: flex;
  opacity: 0.5;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------------------------ */


/* hero section */

.hero-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.3);
  overflow: hidden;
  z-index: 2;
}

.hero-section {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("/src/assets/images/gymMan2.jpg");
  background-size: cover;
  background-position: center;
}

.hero-content {
  font-family: var(--my-font);

  color: var(--white-color);
  z-index: 2;
  width: 100%;
  padding: 10px 65px;
}

.hero-text {
  font-size: 1.99rem;
  margin-bottom: 60px;
}

.word-in-text {
  font-size: larger;
  color: var(--primary-color);
}


.hero-text-welcome {
  margin-bottom: 160px;
  margin-top: 160px;
  font-size: 1.8rem;
}


@media (0px <=width <=600px) {

  .hero-text,
  .hero-text-welcome {
    font-size: 120%;
  }
}

/* ------------------------------------------------------ */